{% load static %}
{% include "header.html" %}
<body>
  <script src="{% static 'js/initTheme.js' %}"></script>
  <div id="app">
    {% include "sidebar.html" %}
    <div id="main">
        <header class="mb-3">
          <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
          </a>
        </header>
    <div class="page-heading">
      <h3>Student Dashboard</h3>
    </div>
    <div class="page-content">
      <section class="row">
        <div class="col-12 col-lg-9">
          <div class="row">
            <!-- Total Posts -->
            <div class="col-6 col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body px-4 py-4-5">
                  <div class="row">
                    <div
                      class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                    >
                      <div class="stats-icon purple mb-2">
                        <i class="iconly-boldDocument"></i>
                      </div>
                    </div>
                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                      <h6 class="text-muted font-semibold">My Posts</h6>
                      <h6 class="font-extrabold mb-0">{{ my_posts }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Approved Posts -->
            <div class="col-6 col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body px-4 py-4-5">
                  <div class="row">
                    <div
                      class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                    >
                      <div class="stats-icon green mb-2">
                        <i class="iconly-boldTick-Square"></i>
                      </div>
                    </div>
                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                      <h6 class="text-muted font-semibold">Pending Posts</h6>
                      <h6 class="font-extrabold mb-0">{{ pending_posts }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Claims Submitted -->
            <div class="col-6 col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body px-4 py-4-5">
                  <div class="row">
                    <div
                      class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                    >
                      <div class="stats-icon blue mb-2">
                        <i class="iconly-boldPaper-Plus"></i>
                      </div>
                    </div>
                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                      <h6 class="text-muted font-semibold">My Claims</h6>
                      <h6 class="font-extrabold mb-0">3</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Issues Reported -->
            <div class="col-6 col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body px-4 py-4-5">
                  <div class="row">
                    <div
                      class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                    >
                      <div class="stats-icon red mb-2">
                        <i class="iconly-boldMessage"></i>
                      </div>
                    </div>
                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                      <h6 class="text-muted font-semibold">My Reports</h6>
                      <h6 class="font-extrabold mb-0">{{ my_reports }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- You can use this chart for post activity -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>Recent Lost Posts</h4>
                </div>
                <div class="card-body">
                  <div class="row g-3">
                    {% for post in lost_posts %}
                      <div class="col-md-4">
                        <div class="animated-post-card p-3 shadow rounded bg-warning-subtle">
                          <h6 class="fw-bold">{{ post.item_name }}</h6>
                          <p class="mb-1 text-muted">{{ post.location }}</p>
                          <small class="text-muted">{{ post.created_at }}</small>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>Recent Found Posts</h4>
                </div>
                <div class="card-body">
                  <div class="row g-3">
                    {% for post in found_posts %}
                      <div class="col-md-4">
                        <div class="animated-post-card p-3 shadow rounded bg-warning-subtle">
                          <h6 class="fw-bold">{{ post.item_name }}</h6>
                          <p class="mb-1 text-muted">{{ post.location }}</p>
                          <small class="text-muted">{{ post.created_at }}</small>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

        

        <!-- Right side info -->
        <div class="col-12 col-lg-3">
          <!-- Profile Info -->
          <a href="{% url 'view_profile' %}" class="card-link">
            <div class="card">
              <div class="card-body py-4 px-4">
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-xl">
                    <img src="{% if user.profile_photo %}
                            {{ user.profile_photo.url }}
                        {% else %}
                            {% static 'compiled/jpg/2.jpg' %}
                        {% endif %}" alt="Student Image" />
                  </div>
                  <div class="ms-3 name">
                    <h5 class="font-bold">{{ user.name }}</h5>
                    <h6 class="text-muted mb-0">{{ user.student_id }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </a>

          <!-- Recent Claims -->
          <div class="card">
            <div class="card-content pb-4">
              <div class="px-4">
                <a href="{% url 'view_my_posts' %}" class="btn btn-block btn-xl btn-outline-primary font-bold mt-3">My Posts</a>
              </div>
            </div>
            <div class="card-content pb-4">
              <div class="px-4">
                <a href="{% url 'view_my_reports' %}" class="btn btn-block btn-xl btn-outline-primary font-bold mt-3">My Reports</a>
              </div>
            </div>
            <div class="card-content pb-4">
              <div class="px-4">
                <button
                  class="btn btn-block btn-xl btn-outline-primary font-bold mt-3"
                >
                  My Claims
                </button>
              </div>
            </div>
          </div>
      </section>
    </div>
{% include "footer.html" %}