{% load static %}
<footer>
          <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
              <p>2025 &copy; DIU</p>
            </div>
            <div class="float-end">
              <p>
                Crafted with
                <span class="text-danger"
                  ><i class="bi bi-heart-fill icon-mid"></i
                ></span>
                by <a href="https://hopebot-it.netlify.app">HopeBot.IT</a>
              </p>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="{% static '/static/js/components/dark.js' %}"></script>
    <script src="{% static '/extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

    <script src="{% static '/compiled/js/app.js' %}"></script>

    <!-- Need: Apexcharts -->
    <script src="{% static '/extensions/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static '/static/js/pages/dashboard.js' %}"></script>
  </body>
</html>